<div class="container">
    <div class="box--new">

        <h1 class="title--main"> Cadastro </h1>

        <form class="form" name="cadastroUsuario" ng-submit="save()" novalidate>
            <div>
                <div>Email</div>
                <div>
                    <input type="email" name="email" ng-model="email" ng-pattern="emailFormat" class="text_box" email required/>
                </div>
                <div ng-show="cadastroUsuario.email.$dirty && cadastroUsuario.email.$invalid">
                    <div ng-show="cadastroUsuario.email.$error.required">Digite o seu email.</div>
                    <div ng-show="cadastroUsuario.email.$error.email">Email inválido.</div>
                </div>
            </div>
            <div>
                <div class="">Usuário</div>
                <div>
                    <input ng-minlength="3" ng-maxlength="18" type="text" name="usuario" ng-model="usuario" class="text_box" ValidaUsuario required/>
                    <div ng-show="cadastroUsuario.usuario.$dirty && cadastroUsuario.usuario.$invalid">
                        <div ng-show="cadastroUsuario.usuario.$error.required">Digite o seu usuário.</div>                        
                    </div>
                    <div ng-show="cadastroUsuario.usuario.$pending.usuario">Verificando disponibilidades.</div>
                    <div ng-show="cadastroUsuario.usuario.$error.usuario">Usuário em uso.</div>
                </div>
            </div>
            <div>
                <div class="">Senha</div>
                <div>
                    <input ng-minlength="3" ng-maxlength="18" type="text" name="senha" ng-model="senha" class="text_box" ValidaSenha required/>
                    <div ng-show=" cadastroUsuario.senha.$invalid">
                        <div ng-show="cadastroUsuario.senha.$error.required">Digite sua senha.</div>                        
                    </div>
                </div>
                
                 <span class="msg-error" ng-show="cadastroUsuario.senha.$error.senhaValida">
    Passwords don't match.
  </span>
            </div>
            <div>
                <div class="">Confirme sua senha</div>
                <div>
                    <input ng-minlength="3" ng-maxlength="18" type="text" name="confSenha" ng-model="confSenha" class="text_box" ValidaSenha required/>
                     <div ng-show=" cadastroUsuario.senha.$invalid">
                        <div ng-show="cadastroUsuario.confSenha.$error.required">Confirme sua senha.</div>                        
                    </div>
                </div>
            </div>
            <div>
                <div class="">Termos de uso</div>              
            </div>
            <div>
                <input type="submit" id="submit" value="Cadastrar" />
            </div>
        </form>

    </div>
</div>