/* _ _ Configurações _ _ */

body {
    font-family: $font-primary;
    color: $color-font;
    background-color: $color-body;
}


/* _ _ Estrutura _ _ */

.container {
    @extend .center;
    @extend .display-flex;
    max-width: $max-width-container;
    min-width: $min-width-container;
}

@media (max-width: $width-desktop) and (min-width: $width-tablet) {
    .container {
        width: 94%;
    }
}

@media (max-width: $width-tablet)  and (min-width: $width-mobile) {
    .container {
        width: 96%;
    }
}

@media (max-width: $width-mobile) {
    .container {
        width: 98%;
    }
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($values) {
    -webkit-box-ordinal-group: $values;
    -moz-box-ordinal-group: $values;
    -ms-flex-order: $values;
    -webkit-order: $values;
    order: $values;
}

@mixin flex-grow($value: 0) {
    -webkit-box-flex: $value;
    -webkit-flex-grow: $value;
    -moz-flex-grow: $value;
    -ms-flex-positive: $value;
    flex-grow: $value;
}

@mixin flex-flow($value) {
    -webkit-flex-flow: $value;
    -moz-flex-flow: $value;
    -ms-flex-flow: $value;
    -o-flex-flow: $value;
    flex-flow: $value;
}

@media (min-width: $width-desktop) {
    @for $i from 1 through $max-col {
        .col-des-#{$i} {
            @include flex($i);          
            @include flex-flow(column wrap);            
        }
    }
}

@media (min-width: $width-tablet) and (max-width: $width-desktop) {
    @for $i from 1 through $max-col {
        .col-tab-#{$i} {
            @include flex($i);           
            @include flex-flow(column wrap);
        }
    }
}

@media (min-width: $width-mobile) and (max-width: $width-tablet) {
    @for $i from 1 through $max-col {
        .col-mob-#{$i} {
            @include flex($i);
            @include flex-flow(column wrap);            
        }
    }
}

@for $i from 1 through $max-col {
    .order-#{$i} {
        @include flex($i);
        @if($max-col==$i) {
            @include order($i);
        }
    }
}

.display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    &--center {
        align-items: center;
        justify-content: center;
    }
}

.title {
    font-family: $font-title;
    color: $color-title;
    display: block;
    &--main {
        @extend .title;
        font-size: 180%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.header {
    width: 100%;
    display: inline-block;
    &--default {
        @extend .header;
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $color-header;
    }
}

.box {
    border: 1px solid $color-border-box;
    background-color: #ffffff;
    padding: 10px;
    margin: 2px;
    &--new {
        @extend .box;
        width: calc(100% - 24px);
    }
}

.form {

    &__item{
        padding-bottom: 20px;
    }

    &__label{
        font-size: 90%;        
    }
}

.button{

    &__next{
        padding: 10px 30px 10px 30px;
        color: $color-light;
        background-color: $color-primary;
        font-size: 100%;
        border: 0;
    }

    &__next:disabled{
        opacity: 0.6;
    }
}

.error{
    color:$color-error;
    font-size: 90%;
    .msg{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.text_box {
    padding: 5px;
    border: 1px solid $color-border-box;
    font-size: 100%;
    min-width: 120px;
}

.text_box:focus {
    border-color: $color-primary;
}

.menu {
    list-style: none;
}

.item {
    &--horizontal {
        display: inline-block
    }
    &__link {
        color: $color-light;
        text-decoration: none;
        padding: 10px;
    }
    &__link:hover {
        text-decoration: underline;
    }
}

.logo {
    text-align: left;
    &__link {
        color: $color-primary;
        text-decoration: none;
    }
    &__title {
        font-size: 200%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}


/* _ _ angularjs _ _ */

input.ng-invalid.ng-touched {
    border-color: $color-error;
}

input.ng-valid.ng-touched {
    border-color: #1FBF57;
}