/* - - Fontes - - */

$font-primary: 'Arial';
$font-title: 'Arial';

/* - - Cores - - */

$color-body: #eeeeee;
$color-primary: #3A37A6;
$color-font: #333333;
$color-box: #dddddd;
$color-title: #3A37A6;
$color-header: #333333;
$color-light: #eeeeee;
$color-border-box: #aaaaaa;
$color-error: #BF1B1B;

/* - - Estrutura - - */


/*Máximo de colunas*/

$max-col: 10;

/* Width Dispositivos*/

$width-desktop: 1200px;
$width-tablet: 992px;
$width-mobile: 778px;

/*Width do container*/

$max-width-container: 1280px;
$min-width-container: 120px;
